<div class="row container-fluid mt-5 ml-1" style="background: #f8f9fc">
  <div class="col-2 test"></div>
  <div class="card text-center register col-lg-8 " style="background: white !important;">
    <div class=" text-center mt-2">
      <h2>Thông tin cá nhân</h2>
    </div>
    <div class="card-body">
      <!-- Login-->

<!--      <div class="row mb-3">
        <div class="col-12 align-items-center">

          <img src="{{user.imageUrls}}" style="width: 50%" alt="">
          <div *ngIf="loading" class="col-12 mt-5 mb-5">
            <div class="loading">
              <ngx-loading [show]="loading"
                           [config]="{animationType: ngxLoadingAnimationTypes.chasingDots, primaryColour: 'gray',secondaryColour:'black', backdropBorderRadius: '3px',backdropBackgroundColour: 'rgba(0,0,0,0)' }"
                           [template]="loadingTemplate"></ngx-loading>

            </div>
          </div>
        </div>
      </div>-->
      <form [formGroup]="updateForm" (ngSubmit)="update()" class="mt-5">

      <!--  <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="form-control" (change)="saveImg($event)" id="inputGroupFile01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>-->
        <p>Image</p>
        <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image" autocomplete="off"/>
        <img src="{{fb}}" style="width: 50px; height: 50px">

        <div class="text-left">
          <label>Email</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="email"
                 placeholder="Email">
        </div>
        <div class="text-left">
          <label>username</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="username"
                 placeholder="username">
        </div>
        <div class="text-left">
          <label>address</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="address"
                 placeholder="address">
        </div>
        <div class="text-left">
          <label>age</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="age"
                 placeholder="age">
        </div>
        <button type="submit" class="btn btn-success nutPhai mr-2">Thay đổi thông tin</button>
      </form>
    </div>
  </div>
</div>
